*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
}
body{
    background-image: url('https://i.postimg.cc/mDdsKYhg/clock-7573739-1280.webp');
}